header.header
    .header__column
        a(href=routes.home)
            i.fas.fa-book-open
    .header__column
        ul
            li
                a(href=`/story${routes.registerStory}`) Register Story
    